body {
  margin: 0 auto;
  font-family: Arial;
}

a {
  margin-top: 7px;
  padding-left: 1px;
  margin-right: 35px;
  text-decoration: none;
}
#img1 {
  padding-top: 5px;
  height: 28px;
  padding-right: 20px;
  width: 30px;
  cursor: pointer;
}

#img2 {
  padding-right: 15px;
  cursor: pointer;
}
#header {
  margin: 0 auto;
}
#nav-bar {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

#head {
  display: flex;
  justify-content: center;
  font-family: Product Sans;
  font-size: 5.5em;
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

#let {
  padding-top: 3.5px;
  transform: rotate(-20deg);
  transform-origin: 20% 40%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

#inpt {
  flex-grow: 1;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  border: 1px solid #73a6ff !important;
  margin: 0 !important;
  outline-color: -moz-use-text-color !important;
  outline-style: none !important;
  outline-width: 0 !important;
  width: 600px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.2rem;
}

#inpt:hover {
  box-shadow: 0 0 10px gainsboro;
}

button {
  cursor: pointer;
}

#voice_1 {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  color: #333;
}

#submt,
#luck {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  height: 36px;
  padding: 0 20px;
  margin: 0 4px;
}

#submt:hover,
#luck:hover {
  box-shadow: 0 0 10px 0 gainsboro;
}

.link_1 {
  line-height: -50px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

h4 {
  font-size: 15px;
  line-height: 39.5x;
  font-weight: 400;
  border: 1px transparent #eee;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 42px;
  margin-bottom: 7px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
}

#footer1 a {
  display: flex;
  justify-self: start;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

#footer2 a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}
@media (max-width: 630px) {
  .link_1 {
    flex-direction: column;
  }

  #footer1 {
    justify-content: center;
  }

  #footer {
    justify-content: center;
  }
  #inpt {
    width: 95vw;
  }
}

@media (max-height: 522px) {
  body {
    overflow-x: hidden;
  }

  form {
    margin-bottom: 20px;
  }

  footer {
    position: relative;
  }
}

@media (max-height: 570px) and (max-width: 630px) {
  body {
    overflow-x: hidden;
  }

  form {
    margin-bottom: 13px;
  }

  footer {
    position: relative;
  }
}
